@font-face {
    font-family: 'NewYork';
    src: url(assets/font/newyork/NewYork\ PERSONAL\ USE.otf);
}

:root {
 --margin-left-right: 15rem;
}

body {
    font-family: "Roboto",sans-serif;
    margin: 0 auto;
}

.logo {
    font-family: 'NewYork';
    text-align: center;
    background: rgb(149,150,206);
    background: linear-gradient(193deg, rgba(149,150,206,1) 6%, rgba(163,136,169,1) 82%);
    font-size: 3.5rem;
    padding: 15px;
    color: white;
}

.button-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.3rem;
    border-bottom: 1px solid #7E5F5F;
    padding: 10px;
}

.nav-button img {
    height: 1.3rem;
}

#sports-button img {
    height: 2rem;
    width: 1,5rem;
}

.nav-button p {
    font-size: 1.2rem;
    margin: 0;
    color: #9F5345;
    transition: color 0.3s ease;
}

.nav-button {
    cursor: pointer;
    margin: 0;
    position: relative;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Navigation underline hover */
.nav-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #9F5345;
    transition: width 0.3s ease;
}

.nav-button:hover::after {
    width: 100%;
}

.second-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35rem;
    font-size: 1.2rem;
    color: #7E5F5F;
    margin-left: var(--margin-left-right);
    margin-right: var(--margin-left-right);
}

.search-bar-container input[type=text] {
    width: 260px;
    padding: 6px;
    font-size: 1rem;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #7E5F5F;
    background-color: #C0BDD3;
    outline: none;
    color: #513f3f;
}

.search-bar-container {
    position: relative;
}

#search-btn {
    position: absolute;
    border: none;
    padding: 0;
    right: 15px;
    background: none;
    top: 52%;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-bar-container img {
    width: 25px;
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    height: 1060px;
}

.page-header-img {
    position: relative;
    width: 100%;
    max-width: 1100px;
}

.page-header-img img{
    width: 100%;
    height: 551px;
    object-fit: cover;
    object-position: 0 4%;
    border-radius: 10px;
}

#page-name,
#skyline {
    font-family: 'NewYork';
    position: absolute;
    font-size: 7rem;
    color: white;
    font-weight: 100;
}

#page-name {
    top: 10%;
    left: 26%;
    right: 15%;
    margin: 0;
    height: 0;
}

#skyline {
    top: 13%;
    left: 43%;
}

.top-news-container {
    top: 65%;
    position: absolute;
    width: 100%;
    max-width: 907px;
    height: 650px;
    background-color: white;
    border: 1px solid #7E5F5F;
    border-radius: 10px;
}

hr {
    max-width: 1100px;
    height: 5px;
    background-color: #7E5F5F;
    border: none;
}


.author {
    margin-top: 5%;
    margin-left: 5%;
    color: #857C7C;
    display: flex;
    align-items: center;
    font-size: .8rem;
}

.author p {
    margin: 0;
}

.author hr {
    height: 1.5px;
    width: 15px;
    margin-left: 30px;
    margin-right: 20px;
    background-color: #857C7C;
}

.news-title {
    margin-left: 5%;
    margin-right: 6%;
    font-size: 1.7rem;
}

.news-title h1 {
    margin-top: 1.5%;
    font-weight: 500;
}

.news-abstract {
    margin-left: 5%;
    margin-right: 8%;
    font-size: 1.3rem;
}

.news-abstract p {
    margin-top: 0;
    color: #857C7C;
}

.read-more-btn {
    margin-top: 100px;
    margin-left: 5%;
}

.read-more-btn button {
    height: 56px;
    width: 175px;
    background-color: #A099CD;
    border: 1px solid #5D3570;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}

.carousel-nav {
    display: flex;
    gap: 24rem;
    margin-left: 5%;
    margin-top: 5%;
}

.circle-nav {
    display: flex;
    gap: 1.7rem;
    align-items: center;
    justify-content: center;
}

.circle-nav .circle {
    border: 2px solid #857C7C;
    background-color: white;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.arrow-nav {
    display: flex;
    gap: 3.2rem;
}

#cnav-btn1 {
    background-color: #857C7C;
}

.circle-nav .circle:hover {
    background-color: #857C7C;
}

.arrow-nav img {
    width: 75px;
    height: 45px;
    cursor: pointer;
}

.arrow-nav #previous-arrow {
    transform: rotate(-180deg);
}
